
body {
    background-color: #FFFEEE;
}

h1 {
    text-align: center;
}

/* Center image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

/* Background Colors */
.bg-main {
    background-color: #E7D7C1;
}
.bg-mid {
    background-color: #B49589;
}
.btn-bg {
    background-color: #AF3D3C;
    color: white;
}


