$mobile-cutoff: 600px;


.bottomTabBar {
    //Position at bottom of screen
    position:fixed;
    bottom:0px;
    left: 0px;
    right:0px;
    height: 64px;

    //background / border
    background: white;
    box-shadow: 0 0 10px;


    //Icon Alignment
    display: flex;
    align-items: center;
    justify-content: space-around;

    .button {
        text-align: center;
        display: flex;
        flex-direction: column;

        * {
            margin: 0;
            padding: 0;
        }
    }

    @media screen and (min-width: ($mobile-cutoff + 1)) {
        display: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

header {
    overflow: hidden;
    max-width: 100%;
    background: lightgray;
    white-space: nowrap;
    
    h1 {
        text-align: left;
        padding-left: 16px;
        vertical-align: bottom;
    }

    .semesters {
        width: auto;
        padding-right: 16px;
        margin: 0;
    }
}

.main-container {
    display: flex;

    //vertical layout
    @media screen and (max-width: $mobile-cutoff) {
        flex-direction: column;
    }
}

.card {
    border-radius: 8px;
    background: white;
    box-shadow: 0px 1px 8px -2px;
}

.sidebar {
    width: 40%;
    max-width: 400px;
    height: 100%;
    
    margin: 10px;
    padding: 10px;

    //Vertical Layout
    @media screen and (max-width: $mobile-cutoff) {
        width: auto;
        max-width: none;
        height: auto;
    }
}

.content {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

table { 
    //This code is a bit buggy. It lets the user scroll the table horizontally, but for some reason, it also stops the table from growing dynamically
    width: 100%;
    display: table-row-group;
    overflow-x: scroll;
    white-space: nowrap;

    td.meeting .days {
        font-variant-caps: all-small-caps;
        font-weight: bolder;
    }
}